.Bloquear {
    color: #007bff;
    text-align: center;
    padding: -50px 200px 50px 200px  ;
   
}
.Bloquear img{
    margin: auto;
    width:200px ;
    height:200px ;
}
.cont2 {
    color: #007bff;
    text-align: center;
    padding: -50px 200px 50px 200px  ;
}

.cont2 img{
    margin: auto;
    width:200px ;
    height:200px ;
}


