.informa h1{
    color: #007bff;
    text-align: center;
  
}
.parrafo1{
    padding: 40px 200px 0px 200px  ;
}
.informa{
    padding: 70px 200px 0px 200px  ;
   
}

.img{
    width: 400px;
    height: 300px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 20px 30px 10px -0px  ; 
    display: flex;
}
.img{
    margin: 40px 0px 180px 100px;
}