.informa{
    text-align: center;
    padding: -50px 200px 50px 200px  ;
}
.informa img{
    margin: auto;
    width:200px ;
    height:200px ;
    padding: 00px 0px 0px 0px;
}
.lista{
    text-align: center;
    padding: -50px 200px 50px 200px  ;
    
}
@media screen and (max-width: 480px){
    .informa{
        flex-direction: column;
        padding: 0px ;
    }
}