.principal h1{
    color:#007bff;
    text-align: center;
}
.principal img {
    margin-top: 50px;
   margin-left: 623px;
}

.parrafo{
    padding: 70px 200px 0px 200px  ;
   
}
.parrafo p{
    font-size: 20px;
}
.parrafo img{
    width: 400px;
    height: 300px;
    margin-left: 10px;
    margin-top: 10px;
   
}

